CMakeFiles/
.cmake/
CMakeCache.txt
cmake_install.cmake
*.o
*.d
*.a
*.so
Makefile
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
*.meta
*.csv
*.zip
*.png
*.jpg
*.txt
__pycache__/